.messages{
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 3%;
}

.users{
    display: flex;
    flex-direction: column;
    column-gap: 5%;
    border-right: 5px solid rgba(120, 205, 209, 1);
}

.chat{
    padding: 0 3%;
}