.link{
    transition: 0.3s;
    text-decoration: none;
    color: black;
    padding: 4% 5%;
}

.link.active, .link.active:hover{
    background: linear-gradient(90deg, rgba(120, 205, 209, 1) 75%, rgba(237,254,255,1) 100%);
    color: white;
}

.link:hover{
    background: linear-gradient(90deg, rgb(167, 231, 235) 85%, rgba(237,254,255,1) 100%);
    color: white;
}

.nav_el{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 4%;
}
  
.icon{
    width: 100%;
}
  
.nav_el__text{
    align-self: center;
}