.link{
    text-decoration: none;
    color: black;
}

.user{
    margin: 2%;
    padding: 4% 5%;
}

.user_name{
    transition: 0.3s;
    margin: 0;
    display: inline-block;
}

.active{
    font-weight: bold;
    color: rgb(23, 185, 194);
}

.user:hover .user_name{
    transform: scale(1.3);
}