/* Общая разметка */

.user_card {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 5vh auto;
    padding: 2% 1%;
    column-gap: 2%;
    border: 2px solid #3991A1;
    border-radius: 20px;
}

/* Поведение блоков внутри карточки User */

.img_container, .user_info {
    display: grid;
    row-gap: 5%;
}

/* Поведение первого блока img_container */
.user_link{
    display: flex;
    justify-content: center;
}

.img_container img {
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.img_container .button {
    width: 100%;
    transition: 0.3s;
    background-color: #3991A1;
    border: 1px solid #D3F5FC;
    color: #EDFEFF;
    border-radius: 20px;
    padding: 5%;
}

.img_container .button:hover {
    background-color: transparent;
    color: #3991A1;
    border-color: #3991A1;
    cursor: pointer;
}

/* Поведение второго блока user_info */

.user_info p {
    margin-top: 0;
}