.users_container {
    width: 90%;
    margin: 0 auto;
}

.user_card {
    width: 65%;
    margin: 5vh auto;
    padding: 2% 1%;
    display: grid;
    grid-template-areas: "user_img user_info" "user_img user_info";
    grid-template-columns: 1fr 4fr ;
    column-gap: 2%;
    border: 2px solid #3991A1;
    border-radius: 20px;
}

.img_container img{
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.img_container button{
    width: 100%;
}

.img_container, .user_info, .user_location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_container{
    grid-area: user_img;
    gap: 1vh;
}

.user_card .user_info{
    grid-area: user_info;
}

.button{
    transition: 0.3s;
    background-color: #3991A1;
    border: 1px solid #D3F5FC;
    color: #EDFEFF;
    border-radius: 20px;
    padding: 5%;
}

.button:hover{
    background-color: transparent;
    color: #3991A1;
    border-color: #3991A1;
    cursor: pointer;
}