.nav{
    grid-area: nav;
    background-color: rgb(204, 245, 247);
    padding: 5%;
}

.nav_menu{
    display: grid;
    grid-gap: 1.5vh;
}

.nav_el{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 4%;
}
  
.icon{
    width: 100%;
}
  
.nav_el__text{
    align-self: center;
}