.link{
    transition: 0.3s;
    text-decoration: none;
    color: black;
    border: 2px solid transparent;
    padding: 4% 5%;
}

.link:hover{
    border-color: rgb(143, 223, 226);
    background-color: rgb(164, 228, 231);
}

.nav_el{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 4%;
}
  
.icon{
    width: 100%;
}
  
.nav_el__text{
    align-self: center;
}